Repository blackeyetech/bamboo-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, prettier --write

shell/CHANGELOG.md for details
  shell/CHANGELOG.md
  shell/package.json
  shell/src/utils.ts
  testing/src/http-test.js
  testing/src/main.ts
  testing/test.http
Due: pnpm prettier --write, prettier --write

shell/CHANGELOG.md for details
  shell/CHANGELOG.md
  shell/package.json
  shell/src/http-server/middleware.ts
Due: pnpm prettier --write, prettier --write

shell/CHANGELOG.md for details
  shell/CHANGELOG.md
  shell/package.json
  shell/src/main.ts
Due: pnpm prettier --write, prettier --write

shell/CHANGELOG.md for details
  shell/src/http-server/main.ts
  shell/src/http-server/static-file-server.ts
Due: pnpm prettier --write

shell/CHANGELOG.md for details
  shell/CHANGELOG.md
  shell/package.json
  shell/src/http-server/main.ts
  shell/src/http-server/middleware.ts
  shell/src/http-server/router.ts
  shell/src/http-server/static-file-server.ts
  testing/html/about/details.html
  testing/html/about/index.html
  testing/html/index.html
  testing/html/test.js
  testing/src/http-test.mjs
  testing/src/main.ts
Due: pnpm prettier --write, prettier --write

svelte-kit/CHANGELOG.md for details
  GETTING_STARTED.md
  svelte-kit/README.md
  svelte-kit/src/svelte-kit.ts
Due: pnpm prettier --write, prettier --write

svelte-kit/CHANGELOG.md for details
  svelte-kit/CHANGELOG.md
  svelte-kit/package.json
Due: prettier --write

shell/CHANGELOG.md for details
  shell/src/http-server/main.ts
  shell/src/http-server/static-file-server.ts
  testing/html/base/about/details.html
  testing/html/base/about/index.html
  testing/html/base/index.html-
  testing/html/base/test.js
  testing/src/main.ts
Due: pnpm prettier --write

svelte-kit/CHANGELOG.md for details
  shell/CHANGELOG.md
  shell/package.json
  svelte-kit/CHANGELOG.md
  svelte-kit/package.json
  svelte-kit/src/svelte-kit.ts
Due: pnpm prettier --write, prettier --write

svelte-kit/CHANGELOG.md for details
  svelte-kit/CHANGELOG.md
  svelte-kit/package.json
  svelte-kit/src/svelte-kit.ts
Due: pnpm prettier --write, prettier --write

shell/CHANGELOG.md for details
  shell/CHANGELOG.md
  shell/package.json
  shell/rollup.config.mjs
  shell/src/http-server/main.ts
  shell/src/http-server/router.ts
Due: pnpm prettier --write, prettier --write

astro/CHANGELOG.md and svelte-kit/CHANGELOG.md for details
  astro/CHANGELOG.md
  astro/package.json
  astro/src/main.ts
  svelte-kit/CHANGELOG.md
  svelte-kit/package.json
  svelte-kit/src/svelte-kit.ts
  testing/src/http-test.mjs
  testing/src/main.ts
Due: pnpm prettier --write, prettier --write

shell/CHANGELOG.md for details
  shell/CHANGELOG.md
  shell/package.json
  shell/src/http-server/req-res.ts
Due: pnpm prettier --write, prettier --write

Path conditions:
  pnpm prettier --write: any of: **/src/**/*.ts
  prettier --write: any of: **/*.{json,md,yaml,yml}
